body {
    text-align: center;
}

ul {
    background: #acf0ff;
    list-style: none;
}

li {
    display: inline;
    padding: 30px;
    font-size: 30px;
}

header {
    text-align: center;
    background-color: #7daeba;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

.project {
    background-color: #7daeba;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
}

.project:hover {
    background-color: #6c99a4;
    border: 5px solid #2e3947;
}

iframe {
    width: 65%;
    height: 650px;
    background-color: #f0f8ff;
}