ul {
    background: #acf0ff;
    list-style: none;
}

li {
    display: inline;
    padding: 30px;
    font-size: 30px;
}

.banner {
    background-image: url("assets/coverpageimage.jpg");
    background-size: cover;
    width: 100%;
    text-align: center;
}

.inner_banner {
    padding-top: 400px;
    padding-bottom: 275px;
}

h1 {
    color: #36494e;
    font-size: 70px;
}

h3 {
    color: #9d9090;
    font-size: 25px;
}

img {
    height: 200px;
    margin-left: 5px;
}

p {
    font-size: 25px;
    color: #36494e;
}

h2 {
    color: #36494e;
    font-size: 30px;
}

.bgcolorchina {
    background-color: #ff7979;
}

.bgcoloritaly {
    background-color: #ccff5e;
}

.bgcolorthenetherlands {
    background-color: #ffc547;
}

.bgcolorfrance {
    background-color: #46d1ff;
}



.bgcolorchina:hover {
    background-color: #ffa4a4;
    border: 5px solid #1f2b2e;
}

.bgcoloritaly:hover {
    background-color: #deff97;
    border: 5px solid #1f2b2e;
}

.bgcolorthenetherlands:hover {
    background-color: #ffe09c;
    border: 5px solid #1f2b2e;
}

.bgcolorfrance:hover {
    background-color: #9ee7ff;
    border: 5px solid #1f2b2e;
}